.btn {
  cursor: pointer;
  border: none;
  position: relative;
  transition: 0.2s;
}
.btn__primary {
  background-color: rgb(116, 81, 252);
  color: rgb(253, 254, 252);
  height: 50px;
  border-radius: 25px;
  font-weight: 500;
  position: relative;
}
.btn__primary:hover {
  color: rgb(116, 81, 252);
  background-color: rgb(253, 254, 252);
}
.btn__secondary {
  border-radius: 20px;
  font-weight: 500;
}
.btn__secondary:hover {
  background-color: rgb(116, 81, 252);
}
.btn__slide {
  height: 50px;
  width: 50px;
  background-color: rgb(253, 254, 252);
  border-radius: 50%;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in-out;
}
.btn__slide i {
  color: rgb(116, 81, 252);
  font-size: 18px;
}
.btn__slide:hover {
  background-color: rgb(116, 81, 252);
}
.btn__slide:hover i {
  color: rgb(253, 254, 252);
}
.btn__slide:focus {
  outline-color: rgb(116, 81, 252);
}

.card {
  background: rgb(40, 43, 47);
  border: 1px solid rgb(64, 66, 69);
  border-radius: 20px;
}

.line {
  width: calc(100% - 30px);
  height: 3px;
  background-color: rgb(253, 254, 252);
  position: absolute;
  bottom: 2px;
  left: 15px;
  border-radius: 2px;
}
.line.line__secondary {
  background-color: rgb(116, 81, 252);
}

nav {
  width: 85%;
  height: 100px;
  background: rgb(253, 254, 252);
  margin: 20px auto;
  padding: 0 20px;
  border-radius: 50px;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.5s width ease-in-out;
}
nav .menu {
  display: none;
}
nav ul {
  width: 600px;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}
nav .link {
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 25px;
  font-weight: 500;
  transition: 0.2s;
}
nav .link a {
  text-decoration: none;
  color: rgb(27, 27, 27);
}
nav .link.link__active, nav .link:hover {
  background: rgb(116, 81, 252);
}
nav .link.link__active a, nav .link:hover a {
  color: rgb(253, 254, 252);
}

.scroll {
  height: 70px;
  width: 100%;
  margin: 0;
  z-index: 100;
  border-radius: 0;
  position: fixed;
  transition: 0.5s margin ease-out;
}
.scroll img {
  transform: scale(0.75);
  background-color: rgb(253, 254, 252);
}

@media (max-width: 960px) {
  nav {
    width: 100%;
    border-radius: 0;
    margin: 0;
    z-index: 10;
  }
  nav .menu {
    display: block;
    cursor: pointer;
    height: 50px;
    width: 50px;
    border: none;
    background: transparent;
    transition: 0.2s ease-in-out;
  }
  nav .menu:hover {
    background-color: rgb(116, 81, 252);
  }
  nav .menu:hover i {
    color: rgb(253, 254, 252);
  }
  nav .menu i {
    color: rgb(116, 81, 252);
    font-size: 36px;
  }
  nav ul {
    width: 90%;
    height: 250px;
    position: absolute;
    top: 100px;
    left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(253, 254, 252);
    outline: rgb(116, 81, 252);
    z-index: -1;
    transform: translateY(-150%);
    transition: transform 0.3s ease-in-out;
  }
  nav ul.toggle {
    transform: translateY(0);
    z-index: 1;
  }
  nav ul .link {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0;
    border-bottom: 0.5px solid rgb(209, 209, 209);
  }
  nav ul .link a {
    width: 100%;
  }
  nav ul .linklink__active {
    background-color: rgb(253, 254, 252);
    color: rgb(116, 81, 252);
  }
  nav.scroll {
    height: 100px;
    z-index: 100;
    background-color: rgb(253, 254, 252);
  }
  nav.scroll > {
    background-color: rgb(253, 254, 252);
  }
}
@media (max-width: 428px) {
  nav img {
    height: 40px;
    width: 150px;
  }
  nav ul {
    width: 80%;
    margin-left: -20px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.load {
  width: 100%;
  height: 100vh;
  background: url("images/load.gif") no-repeat center center/cover;
  background-size: 10%;
  background-color: rgb(27, 27, 27);
}

::-moz-selection {
  background-color: rgb(116, 81, 252);
  color: rgb(253, 254, 252);
}

::selection {
  background-color: rgb(116, 81, 252);
  color: rgb(253, 254, 252);
}

.btn {
  cursor: pointer;
  border: none;
  position: relative;
  transition: 0.2s;
}
.btn__primary {
  background-color: rgb(116, 81, 252);
  color: rgb(253, 254, 252);
  height: 50px;
  border-radius: 25px;
  font-weight: 500;
  position: relative;
}
.btn__primary:hover {
  color: rgb(116, 81, 252);
  background-color: rgb(253, 254, 252);
}
.btn__secondary {
  border-radius: 20px;
  font-weight: 500;
}
.btn__secondary:hover {
  background-color: rgb(116, 81, 252);
}
.btn__slide {
  height: 50px;
  width: 50px;
  background-color: rgb(253, 254, 252);
  border-radius: 50%;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in-out;
}
.btn__slide i {
  color: rgb(116, 81, 252);
  font-size: 18px;
}
.btn__slide:hover {
  background-color: rgb(116, 81, 252);
}
.btn__slide:hover i {
  color: rgb(253, 254, 252);
}
.btn__slide:focus {
  outline-color: rgb(116, 81, 252);
}

nav {
  width: 85%;
  height: 100px;
  background: rgb(253, 254, 252);
  margin: 20px auto;
  padding: 0 20px;
  border-radius: 50px;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.5s width ease-in-out;
}
nav .menu {
  display: none;
}
nav ul {
  width: 600px;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}
nav .link {
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 25px;
  font-weight: 500;
  transition: 0.2s;
}
nav .link a {
  text-decoration: none;
  color: rgb(27, 27, 27);
}
nav .link.link__active, nav .link:hover {
  background: rgb(116, 81, 252);
}
nav .link.link__active a, nav .link:hover a {
  color: rgb(253, 254, 252);
}

.scroll {
  height: 70px;
  width: 100%;
  margin: 0;
  z-index: 100;
  border-radius: 0;
  position: fixed;
  transition: 0.5s margin ease-out;
}
.scroll img {
  transform: scale(0.75);
  background-color: rgb(253, 254, 252);
}

@media (max-width: 960px) {
  nav {
    width: 100%;
    border-radius: 0;
    margin: 0;
    z-index: 10;
  }
  nav .menu {
    display: block;
    cursor: pointer;
    height: 50px;
    width: 50px;
    border: none;
    background: transparent;
    transition: 0.2s ease-in-out;
  }
  nav .menu:hover {
    background-color: rgb(116, 81, 252);
  }
  nav .menu:hover i {
    color: rgb(253, 254, 252);
  }
  nav .menu i {
    color: rgb(116, 81, 252);
    font-size: 36px;
  }
  nav ul {
    width: 90%;
    height: 250px;
    position: absolute;
    top: 100px;
    left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(253, 254, 252);
    outline: rgb(116, 81, 252);
    z-index: -1;
    transform: translateY(-150%);
    transition: transform 0.3s ease-in-out;
  }
  nav ul.toggle {
    transform: translateY(0);
    z-index: 1;
  }
  nav ul .link {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0;
    border-bottom: 0.5px solid rgb(209, 209, 209);
  }
  nav ul .link a {
    width: 100%;
  }
  nav ul .linklink__active {
    background-color: rgb(253, 254, 252);
    color: rgb(116, 81, 252);
  }
  nav.scroll {
    height: 100px;
    z-index: 100;
    background-color: rgb(253, 254, 252);
  }
  nav.scroll > {
    background-color: rgb(253, 254, 252);
  }
}
@media (max-width: 428px) {
  nav img {
    height: 40px;
    width: 150px;
  }
  nav ul {
    width: 80%;
    margin-left: -20px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

.scroll {
  height: 70px;
  width: 100%;
  margin: 0;
  z-index: 100;
  border-radius: 0;
  position: fixed;
  transition: 0.5s margin ease-out;
}
.scroll img {
  transform: scale(0.75);
  background-color: rgb(253, 254, 252);
}

header {
  width: 100%;
  height: 85vh;
  display: flex;
  flex-direction: column;
  background: url("./images/heading-bg.jpg") center center/cover;
}
header .text {
  width: 80%;
  color: rgb(253, 254, 252);
  margin: 120px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: center;
}
header .text h1 {
  font-size: 48px;
}
header .text p span {
  color: rgb(116, 81, 252);
}
header .text p a {
  color: rgb(253, 254, 252);
  text-decoration: none;
}
header .text .text__buttons {
  max-width: 450px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
header .text .text__buttons .btn {
  height: 50px;
  width: 200px;
  font-size: 16px;
}
header .text .text__buttons .btn__secondary {
  background-color: transparent;
  color: rgb(253, 254, 252);
  border-radius: 25px;
  border: 2px solid rgb(116, 81, 252);
}
header .text .text__buttons .btn__secondary:hover {
  background-color: rgb(116, 81, 252);
}
header .text .text__buttons .btn__secondary .line {
  bottom: 0px;
}

@media (max-width: 550px) {
  .text__buttons {
    display: flex;
    flex-direction: column;
  }
}
.create {
  width: 100%;
  height: 75vh;
  padding: 50px 20px;
  color: rgb(253, 254, 252);
  background: url("./images/main-bg.jpg") center center/cover;
}
.create__text {
  width: 85%;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
}
.create__text button {
  width: 200px;
  font-size: 16px;
}
.create__text .left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.create__text .left h1 {
  font-size: 28px;
}
.create__text .left .line {
  position: relative;
  left: 0;
  height: 2px;
  width: 150px;
}
.create__div {
  max-width: 85%;
  margin: 50px auto;
  display: flex;
  flex-direction: row;
  gap: 50px;
}
.create__nft {
  display: flex;
  gap: 30px;
}
.create__nft:nth-child(1) {
  flex-direction: column;
}
.create__nft .icons {
  height: 60px;
  width: 60px;
  background-color: rgb(253, 254, 252);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.create__nft p {
  line-height: 1.6;
}
.create__nft .create__line {
  display: flex;
  flex-direction: column;
}
.create__nft .create__line .line {
  position: relative;
  margin-left: -10px;
  width: 1px;
  height: 100%;
  opacity: 0.5;
  background-color: rgb(253, 254, 252);
}
.create__nft .create__info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (max-width: 960px) {
  .create {
    height: 140vh;
    gap: 50px;
  }
  .create__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
  .create__text .left .line {
    margin: auto;
  }
  .create__div {
    width: 60%;
    display: flex;
    flex-direction: column;
    margin: auto;
  }
}
@media (max-width: 800px) {
  .create {
    height: 150vh;
  }
}
@media (max-width: 428px) {
  .create {
    height: 200vh;
    width: 100%;
    padding: 0 10px;
    text-align: center;
  }
  .create__text {
    width: 100%;
  }
}
@media (max-width: 380px) {
  .create {
    height: 240vh;
  }
}
footer {
  width: 100%;
  height: 10vh;
  padding: 0 20px;
  background: url("./images/main-bg.jpg");
  color: rgb(253, 254, 252);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.author {
  width: 100%;
  height: 150vh;
  background: url("./images/dark-bg.jpg") no-repeat center center/cover;
  padding: 50px 20px;
  color: rgb(253, 254, 252);
}
.author__info {
  margin: auto;
  max-width: 85%;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: space-between;
}
.author__info .profile {
  display: flex;
  align-items: center;
  gap: 30px;
}
.author__info .profile img {
  height: 180px;
  width: 180px;
  border-radius: 50%;
}
.author__info .profile__info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.author__info .profile__info h3 {
  font-size: 20px;
}
.author__info .profile__info .acc {
  color: rgb(116, 81, 252);
}
.author__info .card {
  width: 450px;
  height: 150px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  gap: 20px;
}
.author__info .card .likes,
.author__info .card .followers {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.author__info .card .likes i,
.author__info .card .followers i {
  font-size: 20px;
  color: rgb(116, 81, 252);
}
.author__info .card .likes h3,
.author__info .card .followers h3 {
  color: rgb(116, 81, 252);
}
.author__info .card .likes h3 span,
.author__info .card .followers h3 span {
  color: rgb(253, 254, 252);
}
.author__info .card .followers h3 {
  color: rgb(162, 162, 162);
}
.author__info .card .followers button {
  width: 60%;
}
.author__items {
  width: 90%;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
}
.author__items__text {
  display: flex;
  gap: 15px;
  flex-direction: column;
}
.author__items__text .line {
  position: relative;
  top: 0;
  left: 0;
  width: 160px;
  height: 2px;
  background-color: rgb(116, 81, 252);
}
.author__items__text h1 {
  font-size: 32px;
}
.author__items__text h1 span {
  color: rgb(116, 81, 252);
}
.author__items .cards {
  max-width: 100%;
  margin: 60px auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 35px;
}
.author__items .cards .card {
  left: 0;
  width: 305px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 30px 20px;
}
.author__items .cards .card .image {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  gap: 20px;
}
.author__items .cards .card .image .authorimg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
  top: 45px;
}
.author__items .cards .card .image .nft {
  width: 240px;
  height: 220px;
  border-radius: 25px;
}
.author__items .cards .card .image h3 {
  font-size: 20px;
}
.author__items .cards .card .line {
  position: relative;
  height: 1px;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
  margin: 15px 0 0 0;
}
.author__items .cards .card .info {
  display: flex;
  justify-content: start;
  gap: 50px;
  margin: 25px 0;
}
.author__items .cards .card .info h3 {
  text-align: start;
  font-size: 20px;
}
.author__items .cards .card button {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 140px;
  height: 50px;
  font-size: 16px;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, 50%);
}
.author__items .cards .card button .line {
  position: absolute;
  width: calc(100% - 30px);
  top: 31px;
  left: 15px;
  height: 3px;
  opacity: 1;
}

@media (max-width: 1500px) {
  .author__items {
    width: 98%;
  }
  .author__items .cards .card {
    width: 270px;
  }
}
@media (max-width: 1100px) {
  .author {
    height: 250vh;
  }
  .author__items {
    width: 90%;
  }
  .author__items .cards .card {
    width: 315px;
  }
}
@media (max-width: 800px) {
  .author {
    height: 370vh;
  }
  .author__items {
    width: 90%;
  }
  .author__items .cards .card {
    width: 330px;
  }
}
@media (max-width: 580px) {
  .author {
    height: 400vh;
  }
  .author__items {
    width: 90%;
  }
  .author__items .cards .card {
    width: 290px;
  }
}
@media (max-width: 480px) {
  .author .card .followers button {
    width: 70%;
  }
}
@media (max-width: 420px) {
  header {
    height: 100vh;
  }
  .author {
    height: 460vh;
  }
  .author__info .profile {
    width: 100%;
  }
  .author__info .profile img {
    height: 100px;
    width: 100px;
  }
  .author__info .card {
    height: 220px;
  }
  .author__info .card .followers {
    gap: 20px;
    flex-wrap: wrap;
  }
}/*# sourceMappingURL=author.css.map */