$purple: rgb(116, 81, 252);
$white: rgb(253, 254, 252);
$black: rgb(27, 27, 27);
$darkgray: rgb(40, 43, 47);
$gray: rgb(64, 66, 69);
$lightgray: rgb(162, 162, 162);
$form: rgb(55, 57, 60);
$input: rgb(40, 43, 47);
