@import "colors";

.create {
  width: 100%;
  height: 75vh;
  padding: 50px 20px;
  color: $white;
  background: url("./images/main-bg.jpg") center center/cover;
  &__text {
    width: 85%;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    button {
      width: 200px;
      font-size: 16px;
    }
    .left {
      display: flex;
      flex-direction: column;
      gap: 20px;
      h1 {
        font-size: 28px;
      }
      .line {
        position: relative;
        left: 0;
        height: 2px;
        width: 150px;
      }
    }
  }
  &__div {
    max-width: 85%;
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    gap: 50px;
  }
  &__nft {
    display: flex;
    gap: 30px;
    &:nth-child(1) {
      flex-direction: column;
    }
    .icons {
      height: 60px;
      width: 60px;
      background-color: $white;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
    }
    p {
      line-height: 1.6;
    }
    .create__line {
      display: flex;
      flex-direction: column;
      .line {
        position: relative;
        margin-left: -10px;
        width: 1px;
        height: 100%;
        opacity: 0.5;
        background-color: $white;
      }
    }
    .create__info {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }
}

@media (max-width: 960px) {
  .create {
    height: 140vh;
    gap: 50px;
    &__text {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 50px;
      .left {
        .line {
          margin: auto;
        }
      }
    }
    &__div {
      width: 60%;
      display: flex;
      flex-direction: column;
      margin: auto;
    }
  }
}

@media (max-width: 800px) {
  .create {
    height: 150vh;
  }
}

@media (max-width: 428px) {
  .create {
    height: 200vh;
    width: 100%;
    padding: 0 10px;
    text-align: center;
    &__text {
      width: 100%;
    }
  }
}

@media (max-width: 380px) {
  .create {
    height: 240vh;
  }
}
