@import "colors";
@import "buttons";
@import "cards";
@import "nav";
@import "load";
@import "header";
@import "footer";

.discover {
  width: 100%;
  height: 50vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url("./images/dark-bg.jpg");
  &__slide {
    height: 700px;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    overflow: hidden;
    z-index: 10;
    margin-left: 10px;
    margin-bottom: 160px;
    .buttons {
      width: 95%;
      position: absolute;
      margin-left: 25px;
      margin-top: -100px;
      display: flex;
      justify-content: space-between;
      z-index: 10;
    }
  }
  #slider {
    height: 600px;
    position: relative;
    margin-top: 100px;
    display: flex;
    align-items: center;
    .slide__container {
      height: 600px;
      width: 500px;
      margin-bottom: 100px;
      background: transparent;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 20px;
      .slide {
        height: 600px;
        width: 480px;
        overflow: hidden;
        border-radius: 20px;
        .card {
          width: 290px;
          height: 170px;
          padding: 40px;
          position: relative;
          bottom: 220px;
          margin-left: 150px;
          color: $white;
          display: flex;
          gap: 25px;
          flex-direction: column;
          justify-content: center;
          opacity: 0.9;
          transform: translateX(120%);
          transition: transform 0.4s ease-in-out;
          h2 {
            opacity: 1;
            font-size: 20px;
          }
          .artist__info {
            display: flex;
            gap: 20px;
            opacity: 1;
            img {
              height: 40px;
              width: 40px;
              border-radius: 50%;
              object-fit: cover;
            }
            &__text {
              display: flex;
              flex-direction: column;
              .account {
                color: $purple;
              }
            }
          }
        }
        &:hover .card {
          transform: translateX(0);
        }
      }
    }
  }
}

.discover__items {
  width: 100%;
  height: 240vh;
  height: 180vh;
  padding: 40px;
  background: url("./images/dark-bg.jpg") center center/cover;
  color: $white;
  &__text {
    position: relative;
    max-width: 90%;
    height: 100px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    &__header {
      display: flex;
      flex-direction: column;
      .line {
        position: absolute;
        top: 0;
        left: 0;
        width: 160px;
        height: 2px;
        background-color: $purple;
      }
      h1 {
        font-size: 32px;
        span {
          color: $purple;
        }
      }
    }
    &__search {
      right: 0;
      display: flex;
      gap: 20px;
      input,
      select {
        background-color: transparent;
        width: 240px;
        height: 50px;
        padding: 15px 20px;
        border: 2px solid $gray;
        border-radius: 25px;
        font-size: 14px;
        color: $white;
        &::placeholder {
          color: $white;
        }
      }
      select {
        width: 160px;
        padding: 10px;
        option {
          background-color: $darkgray;
        }
      }
      button {
        width: 120px;
        font-size: 16px;
      }
    }
  }
  .cards {
    max-width: 95%;
    margin: 40px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    .card {
      width: 312px;
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 0 30px 20px;
      .image {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        gap: 20px;
        .author {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          position: relative;
          top: 45px;
        }
        .nft {
          width: 240px;
          height: 220px;
          border-radius: 25px;
        }
        h3 {
          font-size: 20px;
        }
      }
      .line {
        position: relative;
        height: 1px;
        width: 100%;
        top: 0;
        left: 0;
        opacity: 0.3;
        margin: 15px 0 0 0;
      }
      .info {
        display: flex;
        justify-content: start;
        gap: 50px;
        margin: 25px 0;
        h3 {
          text-align: start;
          font-size: 20px;
        }
      }
      button {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        width: 140px;
        height: 50px;
        font-size: 16px;
        bottom: 0%;
        left: 50%;
        transform: translate(-50%, 50%);
        .line {
          position: absolute;
          width: calc(100% - 30px);
          top: 31px;
          left: 15px;
          height: 3px;
          opacity: 1;
        }
      }
    }
    .double {
      width: 660px;
      position: relative;
      .btn__primary {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        width: 140px;
        height: 50px;
        font-size: 16px;
        &:nth-child(1) {
          width: 110px;
          height: 40px;
          font-size: 14px;
          top: 0%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
      .images {
        display: flex;
        justify-content: space-between;
        .nft {
          width: 280px;
          height: 220px;
          border-radius: 25px;
        }
      }
    }
  }
}

.sellers {
  width: 100%;
  height: 80vh;
  position: relative;
  padding: 50px;
  background: url("./images/main-bg.jpg") center center/cover;
  color: $white;
  &__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 50px 20px;
    .line {
      position: relative;
      width: 140px;
      height: 2px;
    }
    h1 {
      font-size: 32px;
      text-align: center;
    }
  }
  &__list {
    max-width: 90%;
    gap: 40px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    &__profile {
      margin-right: 60px;
      display: flex;
      align-items: center;
      gap: 10px;
      &:nth-child(10),
      &:nth-child(11),
      &:nth-child(12) {
        margin-left: -13px;
      }
      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }
      h2 {
        font-size: 20px;
      }
      p {
        font-size: 14px;
      }
    }
  }
}

//Responsive Design

@media (max-width: 1500px) {
  .discover {
    #slider {
      .slide__container {
        width: 415px;
        .slide {
          height: 440px;
          width: 395px;
          .card {
            width: 220px;
            height: 150px;
          }
          img {
            object-fit: cover;
          }
        }
      }
    }
  }
  .discover__items {
    height: 240vh;
    &__text {
      margin: 20px auto;
      gap: 20px;
      &__header {
        gap: 20px;
      }
    }
  }
}

@media (max-width: 1024px) {
  .discover {
    #slider {
      .slide__container {
        margin-left: -5px;
        width: 390px;
        .slide {
          height: 440px;
          width: 370px;
          .card {
            width: 220px;
            height: 150px;
          }
          img {
            object-fit: cover;
          }
        }
      }
    }
  }
  .discover__items {
    height: 310vh;
    .cards {
      max-width: 90%;
    }
  }
}

@media (max-width: 960px) {
  .sellers {
    height: 100vh;
  }
}

@media (max-width: 900px) {
  .discover__items {
    width: 100%;
    height: 350vh;
    &__text {
      height: 350px;
      &__search {
        width: 100%;
        display: flex;
        flex-direction: column;
        input,
        select {
          width: 100%;
        }
      }
    }
    .cards {
      max-width: 100%;
    }
  }
  .sellers {
    &__list {
      max-width: 95%;
      gap: 20px;
    }
  }
}

@media (max-width: 768px) {
  .discover {
    &__slide {
      .buttons {
        width: 98%;
        margin-left: 0;
        top: 60%;
      }
    }
    #slider {
      .slide__container {
        width: 720px;
        margin-right: 10px;
        .slide {
          height: 540px;
          width: 700px;
          .card {
            width: 220px;
            height: 150px;
            margin-top: -100px;
            transform: translateX(-170%);
          }
          img {
            width: 100%;
            object-fit: cover;
          }
          &:hover .card {
            transform: translateX(-50%);
          }
        }
      }
    }
  }
}

@media (max-width: 700px) {
  .discover {
    #slider {
      .slide__container {
        width: 580px;
        margin-right: 5px;
        .slide {
          height: 540px;
          width: 550px;
          .card {
            width: 220px;
            height: 150px;
            margin-top: 20px;
            transform: translateX(-170%);
          }
          img {
            width: 100%;
            object-fit: cover;
          }
          &:hover .card {
            transform: translateX(-50%);
          }
        }
      }
    }
  }
  .discover__items {
    height: 790vh;
    .cards {
      width: 95%;
      padding: 10px 0;
      .card {
        width: 100%;
        .image {
          width: 100%;
          .nft {
            width: 100%;
            height: 400px;
            object-fit: cover;
          }
        }
        .info {
          gap: 120px;
        }
      }
      .double {
        .images {
          display: flex;
          flex-wrap: wrap;
        }
        .info {
          gap: 50px;
        }
      }
    }
  }
  .sellers {
    &__list {
      max-width: 100%;
      &__profile {
        margin-right: 15px;
      }
    }
  }
}

@media (max-width: 480px) {
  .discover {
    &__slide {
      .buttons {
        width: 98%;
        margin-left: 0;
        top: 47%;
      }
    }
    #slider {
      .slide__container {
        width: 380px;
        margin-right: 5px;
        .slide {
          height: 540px;
          width: 360px;
          .card {
            width: 220px;
            height: 150px;
            margin-top: 20px;
            transform: translateX(-170%);
          }
          img {
            width: 100%;
            object-fit: cover;
          }
          &:hover .card {
            transform: translateX(-50%);
          }
        }
      }
    }
  }
  .discover__items {
    height: 660vh;
    .cards {
      width: 95%;
      padding: 10px 0;
      .card {
        width: 100%;
        .image {
          width: 100%;
          .nft {
            width: 100%;
            height: 230px;
            object-fit: cover;
          }
        }
        .info {
          gap: 40px;
        }
      }
      .double {
        .images {
          display: flex;
          flex-wrap: wrap;
        }
        .info {
          display: flex;
          flex-wrap: wrap;
          gap: 40px;
        }
      }
    }
  }
  .sellers {
    height: 160vh;
    &__list {
      max-width: 100%;
      &__profile {
        margin-right: 10px;
      }
    }
  }
}

@media (max-width: 385px) {
  .discover {
    margin-top: 20px;
    &__slide {
      .buttons {
        width: 98%;
        top: 47%;
      }
    }
    #slider {
      .slide__container {
        width: 345px;
        margin-right: 5px;
        .slide {
          height: 500px;
          width: 340px;
          .card {
            width: 220px;
            height: 150px;
            margin-top: 20px;
            transform: translateX(-170%);
          }
          img {
            width: 100%;
            object-fit: cover;
          }
          &:hover .card {
            transform: translateX(-50%);
          }
        }
      }
    }
  }
  .discover__items {
    height: 730vh;
    .cards {
      width: 100%;
      padding: 10px 0;
      .card {
        width: 100%;
        .image {
          width: 100%;
          .nft {
            width: 100%;
            height: 230px;
            object-fit: cover;
          }
        }
        .info {
          gap: 40px;
        }
      }
      .double {
        .images {
          display: flex;
          flex-wrap: wrap;
        }
        .info {
          display: flex;
          flex-wrap: wrap;
          gap: 40px;
        }
      }
    }
  }
  .sellers {
    height: 180vh;
  }
}

@media (max-width: 360px) {
  .discover__items {
    height: 770vh;
  }
}
