@import 'colors';           
@import 'buttons';
@import 'cards';
@import 'nav';
@import 'load';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

header {
    width: 100vw;
    height: 800px;
    padding-bottom: 50px;
    background: url('./images/banner-bg.jpg') no-repeat center center/cover;
}

.list {
    display: none;
}   

.banner {
    max-width: 85%;
    margin: 100px auto;
    color: $white;
    display: flex;
    justify-content: flex-start;
    gap: 150px;
    &__text {
        width: 40%;
        display: flex;
        margin-top: 50px;
        flex-direction: column;
        gap: 20px;
        h3 {
            font-size: 24px;
        }
        h1 {
            font-size: 48px;
        }
        p {
            line-height: 1.6;
        }        
        .banner__buttons {
            display: flex;
            gap: 20px;
            .btn {
                height: 50px;
                width: 200px;
                font-size: 16px;
                &__secondary {
                    background-color: transparent;
                    color: $white;
                    border-radius: 25px;
                    border: 2px solid $purple;
                    &:hover {
                        background-color: $purple;
                    }
                    .line {
                        bottom: 0px;
                    }
                }
            }
        }
    }
    &__slider {
        height: 550px;
        width: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        overflow: hidden;
    }
    .slider__images {
        height: 400px;
        width: 500px;
        display: flex;
        img {
            height: 400px;
            width: 500px;
            object-fit: cover;
            border-radius: 25px;
        }
    }
    .slider__buttons {
        height: 50px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        z-index: 1;
    }
}

.categories {
    width: 100%;
    height: 200vh;
    background: url('./images/dark-bg.jpg') center center/cover;
    padding: 100px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    .category__text {
        padding: 20px 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 10px;
        .line__secondary {
            position: relative;
            width: 100px;
            margin: 30px 0;
        }
    }
    h1 {
        font-size: 28px;
        color: $white;
        span {
            color: $purple;
        }
    }
    .cards {
        max-width: 100%;
        padding: 70px 10px;
        display: flex;
        // flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .card {
        width: 190px;
        height: 160px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 10px;
        .category {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            margin-top: 25px;
            .icons {
                width: 60px;
                height: 60px;
                background-color: $white;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            h2 {
                color: $white;
                font-size: 18px;
            }
            .category__btn .btn {
                opacity: 0;
                transition: opacity 0.3s ease-in-out;   
            }
        }
        &:hover .category__btn .btn {
            opacity: 1;
        }
    }
}

.card__slider {
    height: 600px;
    width: 90%;
    padding: 60px 20px;
    margin: auto;
    display: flex;
    align-items: center;
    overflow: hidden;
    .buttons {
        position: absolute;
        width: 88.5%;
        margin-left: -20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        button {
            position: absolute;
            &:nth-child(2) {
                right: 0;
            }
        }
    }
    .slider {
        height: 500px;
        display: flex;
        &__cards {
            width: 440px;
            .card__slide {
                padding: 0;
                width: 420px;
                height: 480px;
                overflow: hidden;
                display: flex;
                flex-direction: column;
                align-items: center;
                img {
                    width: 100%;
                }
                &__info {
                    margin: 10px;
                    width: 90%;
                    color: $white;
                    text-align: left;
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                    span {
                        width: 100%;
                        margin-left: -15px;
                        height: 0.5px;
                        opacity: 0.3;
                        position: relative;
                    }
                }
                .info {
                    display: flex;
                    justify-content: space-between;
                    &__text:nth-child(2) {
                        text-align: right;
                    }
                }
                button {
                    width: 250px;
                    font-size: 16px;
                    position: absolute;
                    margin: 454px auto;
                }
            }
        }
    }
}

.create {
    width: 100%;
    height: 75vh;
    padding: 50px 20px;
    color: $white;
    background: url('./images/main-bg.jpg') center center/cover;
    &__text {
        width: 85%;
        margin: 50px auto;
        display: flex;
        justify-content: space-between;
        button {
            width: 200px;
            font-size: 16px;
        }
        .left {
            display: flex;
            flex-direction: column;
            gap: 20px;
            h1 {
                font-size: 28px;
            }
            .line {
                position: relative;
                left: 0;
                height: 2px;
                width: 150px;
            }
        }
    }
    &__div {
        max-width: 85%;
        margin: 50px auto;
        display: flex;
        flex-direction: row;
        gap: 50px;
    }
    &__nft {
        display: flex;
        gap: 30px;
        &:nth-child(1) {
            flex-direction: column;
        }
        .icons {
            height: 60px;
            width: 60px;
            background-color: $white;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
        }
        p {
            line-height: 1.6;
        }        
        .create__line {
            display: flex;
            flex-direction: column;
            .line {
                position: relative;
                margin-left: -10px;
                width: 1px;
                height: 100%;
                opacity: 0.5;
                background-color: $white;
            }
        }
        .create__info {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
    }
}

.items {
    width: 100%;
    height: 225vh;
    padding: 30px 20px;
    background: url('./images/dark-bg.jpg');
    &__nav {
        width: 85%;
        margin: 50px auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: $white;
        .left {
            display: flex;
            flex-direction: column;
            gap: 20px;
            h1 {
                font-size: 28px;
                .first-word {
                    color: $purple;
                }
            }
            .line {
                position: relative;
                background-color: $purple;
                left: 0;
                height: 1px;
                width: 150px;
            }
        }
        nav {
            width: 550px;
            margin: 0;
            padding: 0;
            display: flex;
            gap: 10px;
            background-color: transparent;
            z-index: 1;
            .btn {
                height: 40px;
                padding: 0 15px;
                font-size: 16px;
                &__primary {
                    color: $white;
                }
                &__secondary {
                    background: transparent;
                    color: $white;
                    font-weight: 500;
                }
                &:hover {
                    background-color: $purple;
                }
            }
        }
    }
    &__cards {
        max-width: 90%;
        margin-left: 100px;
        display: flex;
        flex-wrap: wrap;
        gap: 25px;
        .card {
            height: 400px;
            width: 550px;
            color: $white;
            overflow: hidden;
            display: flex;
            gap: 30px;
            padding: 25px;
            img {
                border-radius: 25px;
            }
            &__items__info {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 30px;
                h2 {
                    font-size: 20px;
                }
                .artist {
                    display: flex;
                    gap: 15px;
                    padding: 10px 0;
                    img {
                        height: 50px;
                        width: 50px;
                        border-radius: 50%;
                    }
                    &__info {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                    }
                    .account {
                        font-weight: 500;
                        color: $purple;
                    }
                }
                .line {
                    position: relative;
                    width: 100%;
                    left: 0;
                    height: 1px;
                    opacity: 0.5;
                }
                .bid {
                    width: 100%;
                    padding: 10px 0;
                    display: flex;
                    justify-content: space-between;
                    &__current, &__end {
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        h2 {
                            font-size: 18px;
                        }
                    }
                    &__end {
                        text-align: end;
                    }
                }
                a {
                    position: relative;
                    top: 10px;
                    color: $purple;
                    font-weight: 500;
                }
            }
        }
    }
}

footer {
    width: 100%;
    height: 10vh;
    background: url('./images/main-bg.jpg');
    color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
}




//Responsive Design
//
//
@media (max-width: 1440px) {
    .card__slider {
        width: 88%;
        .buttons {
            width: 86.25%;
            margin-right: 5px;
        }
        .slider {
            &__cards {
                width: 400px;
                .card__slide {
                    display: flex;
                    flex-direction: column;
                    width: 380px;
                    &__info {
                        justify-content: space-between;
                    }
                }
            }
        }
    }
}

@media (max-width: 1366px) {
    .card__slider {
        width: 88%;
        .buttons {
            width: 86.75%;
            margin-right: 5px;
        }
        .slider {
            &__cards {
                width: 380px;
                .card__slide {
                    display: flex;
                    flex-direction: column;
                    width: 360px;
                    height: 400px;
                    margin-top: 50px;
                    button {
                        margin: 375px auto;
                    }
                }
            }
        }
    }
}

@media (max-width: 1286px) {
    .banner {
        display: flex;
        gap: 50px;
        .banner__slider {
            transform: scale(0.8);
        }
    }
    .card__slider {
        width: 88%;
        .buttons {
            width: 87.25%;
            margin-right: 5px;
        }
        .slider {
            margin-left: -5px;
            &__cards {
                width: 360px;
                .card__slide {
                    display: flex;
                    flex-direction: column;
                    width: 345px;
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    .card__slider {
        width: 100%;
        .buttons {
            width: 97.75%;
            margin-right: 5px;
        }
        .slider {
            &__cards {
                width: 320px;
                height: 380px;
                .card__slide {
                    display: flex;
                    flex-direction: column;
                    width: 305px;
                }
            }
        }
    }
}

@media (max-width: 960px) {
    header {
        height: 150vh;
    }
    .banner {
        display: flex;
        flex-direction: column;
        gap: 50px;
        &__text {
            width: 70%;
            margin: auto;
            align-items: center;
        }
        &__slider {
            margin: auto;
        }
    }
    .cards {
        width: 80%;
        flex-wrap: wrap;
    }
    .card__slider {
        width: 450px;
        align-items: center;
        margin-left: 275px;
        .buttons {
            width: 380px;
        }
        .slider {
            margin: auto;
            height: 500px;
            &__cards {
                width: 450px;
                height: 490px;
                .card__slide {
                    display: flex;
                    flex-direction: column;
                    width: 335px;
                }
            }
        }
    }
    .create {
        height: 140vh;
        gap: 50px;
        &__text {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 50px;
            .left {
                .line {
                    margin: auto;
                }
            }
        }
        &__div {
            width: 60%;
            display: flex;
            flex-direction: column;
            margin: auto;
        }
    }
    .items {
        height: 375vh;
        &__nav {
            display: flex;
            flex-direction: column;
            gap: 50px;
            .left {
                span {
                    margin: auto;
                }
            }
        }
    }
}

@media (max-width: 800px) {
    .categories {
        height: 230vh;
    }
    .create {
        height: 150vh;
    }
    .card__slider {
        margin-left: 200px;
    }
}

@media (max-width: 600px) {
    .card__slider {
        margin-left: 100px;
    }
}

@media (max-width: 428px) {
    header {
        height: 160vh;
    }
    .banner {
        display: flex;
        flex-direction: column;
        gap: 50px;
        &__text {
            width: 80%;
            margin: auto;
            align-items: center;
            h3 {
                font-size: 20px;
            }
            h1 {
                font-size: 40px;
            }
            .banner__buttons {
                display: flex;
                flex-direction: column;
            }
        }
        .banner__slider {
            transform: scale(0.7);
            margin-left: -75px;
        }
    }
    .categories {
        height: 330vh;
        .card__slider {
            width: 83%;
            margin: auto;
            .buttons {
                width: 83%;
                margin-left: -30px;
            }
            .slider {
                &__cards {
                    width: 290px;
                    height: 380px;
                    .card__slide {
                        margin-left: -10px;
                        display: flex;
                        flex-direction: column;
                        width: 280px;
                    }
                }
            }
        }
    }
    .create {
        height: 200vh;
        width: 100%;
        padding: 0 10px;
        text-align: center;
        &__text {
            width: 100%;
        }
    }
    .items {
        height: 680vh;
        text-align: center;
        &__nav {
            width: 100%;
            nav {
                height: 300px;
                width: 60%;
                display: flex;
                flex-direction: column;
                gap: 20px;
                .btn {
                    height: 50px;
                }
            }
        }
        &__cards {
            width: 100%;
            margin: auto;
            .card {
                padding: 10px;
                display: flex;
                flex-direction: column;
                height: 700px;
                img {
                    height: 275px;
                    height: 275px;
                    padding: 10px;
                    object-fit: cover;
                }
                &__items__info {
                    padding: 0 10px;
                }
            }
        }
    }
    footer {
        text-align: center;
        font-size: 14px;
        padding: 10px;
    }
}
@media (max-width: 380px) {
    header {
        height: 190vh;
    }
    .banner {
        .banner__slider {
            transform: scale(0.6);
            margin-left: -100px;
        }
    }
    .categories {
        height: 380vh;
        .card__slider {
            width: 95%;
            margin: auto;
            .buttons {
                width: 95%;
                margin-left: -40px;
                margin-top: 80px;
            }
            .slider {
                height: 380px;
                &__cards {
                    width: 290px;
                    .card__slide {
                        margin-left: -10px;
                    }
                }
            }
        }
    }
    .create {
        height: 240vh;
    }
    .items {
        height: 780vh;
    }
    footer {
        font-size: 12px;
    }
}


